@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Model.ErrorMessage ??= "Oops, we were unable to find that page.";
}

<button type="button" class="btn btn-light" onclick="history.back()"><i class="bi bi-arrow-return-left"></i> Go Back</button>
<h1 class="display-1 text-danger">Error.</h1>
<hr />
<h2 class="display-4">@Model.ErrorMessage</h2>

@if (Model.ShowRequestId)
{
    <div class="bottom-right">
        <p class="text-muted">Request ID: @Model.RequestId</p>
    </div>
}

<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
