body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.text-muted {
    font-size: x-small;
    text-align: right;
}

.btn {
    font-weight: lighter;
}
